.logo{
  width:200px;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100vh;
}
.header{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.Content{
  color:gray;
}
.profile{
  width:70px;
  position:absolute;
  margin-top: 20px;
}
.login-box{
  position:relative;
  background-color: whitesmoke;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:300px;
  height:320px;
  box-shadow: 3px 3px 3px 3px lightgray;
}
.idPw{
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  position:absolute;
  margin-top: 120px;
}
#email{
  height:40px;
  width:250px;

}
#pw{
  height:40px;
  width:250px;
  margin-top: 3px;
}
input::placeholder{
  color:lightgray;
}

.loginBt{
  position:absolute;
  margin-top: 230px;
}
button{
  width:260px;
  height:40px;
  background-color:cornflowerblue;
  border:none;
  color:white;
  cursor:pointer;
}

.help {
  font-size: 13px;
  font-weight: bold;
  color: cornflowerblue;
  margin-top: 280px;
  margin-right: 150px;
  text-decoration: none;
}
