
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100vh;
}

.login-box{
  /*position:relative;*/
  background-color: whitesmoke;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:300px;
  height:320px;
  box-shadow: 3px 3px 3px 3px lightgray;
}


.help-position{
  display: flex;
  justify-content: flex-start;
  width:85%;
}

